body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: rgb(228, 227, 227)5a5;
}

header {
    display: flex;
    color: #fff;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 1.5%;
    margin: 1.5%;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.75vw;

    color: #333;
}

.index a {
    text-decoration: underline;
}

/* Main */
main {
    padding: 20px;
    justify-content: center;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

footer li {
    margin-inline: 1.5%;

}

footer li a {
    text-decoration: none;
    font-size: 1.5vw;

    color: #333;
}

* {
    box-sizing: border-box
}

.col {
    display: flex;
}

.left-column {
    width: 70%;
}


.left-column h1 {
    margin: 20px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;

}

.left-column p {
    margin: 20px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Style for the right column */
.right-column {
    /* Set a maximum width for the column */
    width: 30%;
    /* flex: 70%; */

    padding: 20px;
    /* Add other styles as needed */
}