body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: rgb(228, 227, 227)5a5;
}

header {
    display: flex;
    color: #fff;
    padding: 10px;
}

nav {
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

nav ul {
    list-style-type: none;

    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

ul li {

    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

.portfolio a {
    text-decoration: underline;
}

/* Main */
main {
    padding: 20px;
    justify-content: center;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    left: 0;
    background-color: #333;
    color: #fff;
    text-align: center;

}

* {
    box-sizing: border-box
}

.col {
    display: flex;
    justify-content: center;
}

/* .left-column {
    width: 30%;
}


.left-column h1 {
    margin: 20px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;

}

.left-column p {
    margin: 20px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
} */

/* Style for the right column */
.right-column {
    /* Set a maximum width for the column */
    width: 75%;
    /* flex: 70%; */

    padding: 20px;
    /* Add other styles as needed */
}



/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}